@at-root {
    .workspace {
        height: 100%;

        .blocklyScrollbarVertical,
        .blocklyScrollbarHorizontal {
            display: none;
        }

    }

    .workspace__play-btn {
        $size: 50px;
        position: absolute;
        top: 50%;
        right: 0;
        width: $size;
        height: $size;
        margin-right: $size / -2;
        margin-top: $size / -2;
        border-radius: 50%;
        outline: none;
        z-index: 11;
        cursor: pointer;
    }
}