body {
    height: 100%;
}

#area-workspace {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
}

#area-game {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
}
